<div class="banner text-center">
  <div class="container">
		<h1>Location d'objet numériques entre particuliers</h1>
		<p>Gagner de l'argent grâce aux objets que vous n'utilisez plus</p>
    <%= link_to "Déposer une annonce", new_post_path %>
  </div>
</div>
