<!--footer section start-->
  <footer>
    <div class="footer-top">
      <div class="container">
        <div class="foo-grids">
          <div class="col-md-3 footer-grid">
            <h4 class="footer-head">Qui sommes-nous ?</h4>
            <p>Service facilitant la location d'objet numérique entre particuliers</p>
          </div>
          <div class="col-md-3 footer-grid">
            <h4 class="footer-head">Besoin d'aide ?</h4>
            <ul>
              <li><a href="faq.html">Faq</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-grid">
            <h4 class="footer-head">Information</h4>
            <ul>
              <li style="color: #979797;">Terms of Use</li>
              <li style="color: #979797;">Privacy Policy</li>
            </ul>
          </div>
          <div class="col-md-3 footer-grid">
            <h4 class="footer-head">Contact</h4>
            <span class="hq">Notre QG</span>
            <address>
              <ul class="location">
                <li><span class="glyphicon glyphicon-map-marker"></span></li>
                <li>Bordeaux</li>
                <div class="clearfix"></div>
              </ul>
              <ul class="location">
                <li><span class="glyphicon glyphicon-earphone"></span></li>
                <li>06 37 84 93 49</li>
                <div class="clearfix"></div>
              </ul>
              <ul class="location">
                <li><span class="glyphicon glyphicon-envelope"></span></li>
                <li><a href="mailto:info@example.com">contact@blum.com</a></li>
                <div class="clearfix"></div>
              </ul>
            </address>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="footer-bottom text-center">
    <div class="container">
      <div class="footer-logo">
        <a href="index.html"><span>B</span>lum</a>
      </div>
      <div class="footer-social-icons">
        <ul>
          <li><a class="facebook" href="#"><span>Facebook</span></a></li>
          <li><a class="twitter" href="#"><span>Twitter</span></a></li>
          <li><a class="flickr" href="#"><span>Flickr</span></a></li>
          <li><a class="googleplus" href="#"><span>Google+</span></a></li>
          <li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
        </ul>
      </div>
      <div class="copyrights">
        <p> © 2018 Blum. Tous droit réservé | Design by Steweirdo</a></p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  </footer>
